@font-face {
  font-family: 'SceneW01-Black';
  src: url('../fonts/12309.ttf');
}

@mixin scene {
  font-family: 'SceneW01-Black', sans-serif;
}

@mixin reg {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

@mixin bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}